body {
  background-color: #666;
}

.App {
  background-color: aliceblue;
  max-width: 600px;
  margin: auto;

  font-family: "Lucida Grande", sans-serif;

  border-radius: 10px 0px 10px 0px;
}

header {
  background-image: linear-gradient(
    to bottom right,
    rgb(58, 32, 58),
    rgb(104, 59, 104)
  );

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  padding: 10px;

  border-radius: 10px 0px 0px 0px;
}

.header--logo_container {
  display: flex;
  align-items: center;
}

.header--image {
  height: 40px;
}

.header--title {
  margin: 0px;
  margin-left: 10px;

  color: azure;
}

.header--project {
  margin: 0px;

  text-align: right;

  color: azure;
}

main {
  padding: 25px;
}

.main--form {
  display: grid;
  grid-template-areas: "in1 in2" "b1 b1";
  gap: 10px;
}

.main--input {
  text-indent: 5px;

  border: 2px solid rgb(110, 60, 110);
  outline-color: rgb(60, 30, 60);

  border-radius: 5px;
}

.main--input:first-child {
  grid-area: in1;
}

.main--input:nth-child(2) {
  grid-area: in2;
}

.main--button {
  grid-area: b1;

  background-image: linear-gradient(
    to bottom right,
    rgb(60, 30, 60),
    rgb(110, 60, 110)
  );
  color: azure;

  padding: 5px;

  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.main--button:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(60, 30, 60),
    rgb(140, 90, 140)
  );
}

.main--imageContainer {
  position: relative;
}

.imageContainer--image {
  margin: auto;
  margin-top: 10px;

  width: 100%;
}

.imageContainer--fav_icon {
  position: absolute;
  right: 10px;
  top: 20px;

  width: 20px;

  filter: drop-shadow(0px 0px 2px white);
}

.boxContainer {
  display: flex;

  justify-content: space-between;
}

.box {
  /* background-image: linear-gradient( 
    to bottom right,
    rgb(58, 32, 58),
    rgb(104, 59, 104)
  );*/

  margin-left: 5px;

  width: 100%;
  height: 50px;
}

.box:first-child {
  margin-left: 0px;
}


