footer {
  background-image: linear-gradient(
    to bottom right,
    rgb(58, 32, 58),
    rgb(104, 59, 104)
  );

  padding: 5px;

  text-align: center;
  color: azure;

  font-size: 10px;

  border-radius: 10px 0px 0px 0px;
}
